[2016-04-21 07:12] EsOsO opened #1 "Move to Pester tests"
Move to TDD with Pester tests

[2016-04-21 07:17] EsOsO opened #2 "Support pipeline input"
It could be useful to provide support to:
[code]

[2016-04-21 11:04] #2 closed

[2016-04-26 11:57] EsOsO opened #4 "Target Level not honored"
All messages send to a target gets logged.
[code]

[2016-04-26 12:01] #4 closed

[2016-06-13 20:31] mcvic1rj opened #5 "Removing Module prevents the pending logs from writing."
IF you remove the module or close the powershell session, the events waiting to be written are not logged.

This comes up when using a scheduled task and the script finished before the running.

example:

if (!(Get-Command -Name Write-log))
{
    Import-Module logging
}
$Logging.Targets += @{
    File = @{
        Path        = "c:\logs\%{+%Y%m%d}1.log"    # <Required> Sets the file destination (e

[2016-06-14 11:02] EsOsO commented on #5
Yes, you are right @mcvic1rj, it's was fixed in 93eb200fc77c831e7b6ac053544f16273ba408e0.

You can end your script with Wait-Log and remove the module, in this way you'll be sure to empty the log message queue.

Thanks

[2016-06-14 11:10] mcvic1rj commented on #5
What about putting wait log in the on remove part of the psm1 file?

-
Ryan

On Tue, Jun 14, 2016 at 7:02 AM -0400, "Massimo Bonvicini" <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, you are right @mcvic1rj<https://github.com/mcvic1rj>, it's was fixed in 93eb200<https://github.com/EsOsO/Logging/commit/93eb200fc77c831e7b6ac053544f16273ba408e0>.

You can end your script wit

[2016-06-14 11:31] EsOsO commented on #5
As far as I know `$ExecutionContext.SessionState.Module.OnRemove` it's called only on `Remove-Module` and not when the shell exit.

I found [System.Management.Automation.PsEngineEvent]::Exiting that seems promising, I'll make some tests.

[2016-09-01 07:46] EsOsO commented on #5
Fixed in a79daeb55c2fa3ae58e30b6f9869d81599a058bc

[2016-09-01 07:46] #5 closed

[2016-09-13 09:05] EsOsO opened #6 "Custom prompt gets splitted during output"
During output my prompt gets splitted by the logged message:

[code]

PS. the unrecognized characters are from Source Code Pro to get a [Powerline ](https://github.com/powerline/powerline) like prompt
![2016-09-13 11_03_10-clipboard](https://cloud.githubusercontent.com/assets/170860/18467874/e01abab0-79a1-11e6-969c-0ee51b52e6b9.png)

[2016-09-13 09:50] EsOsO commented on #6
Closed in a4b79476bdaf5b29bffd2c2a8d7efbea914edd0c

[2016-09-13 09:50] #6 closed

[2016-12-06 21:44] cparker4486 opened #7 "Error when running sample code from TL;DR"
Hello,

Trying to use the TL;DR from Logging.psd1 results in some errors. First the code being run:

[code]

And the errors:

[code]

[2016-12-07 08:30] EsOsO commented on #7
Could you please post the output of `$PSVersionTable`?

[2016-12-07 21:41] cparker4486 commented on #7
[code]

[2016-12-12 07:47] EsOsO commented on #7
Hi, @cparker4486, I have the same version as you. Could you try to `Import-Module Logging` before executing the example code?

[2016-12-12 17:20] cparker4486 commented on #7
@EsOsO The module imported without a problem but I got the same result. I'll try it on another computer and report back.

[2016-12-12 22:20] cparker4486 commented on #7
@EsOsO I've tried on two other computers. One with Windows 10 LTSB and one Server 2012 R2. Same result in both places. Here's $PSVersionTable from the latter computer.

[code]

[2016-12-13 10:02] EsOsO commented on #7
It seems like you are missing the target folder inside the module one:
[code]

Have you git cloned the repo or installed the module from powershelgallery?

[2016-12-13 17:53] cparker4486 commented on #7
Well this is embarrassing... but, yes, it's all user error. I downloaded the zip and and only copied the .psd1 and .psm1 into the module folder.

On the bright side, this shows that there may be room for improvement in the README. It doesn't say anything about installing so I went about "installing" it myself. I didn't consider looking for it in the gallery because that's not something I'm accusto

[2016-12-14 07:25] EsOsO commented on #7
Don't worry, I'm glad we figured it out!! I hope you'll find it useful ;)

I'll update the doc with the installation instructions.

[2016-12-14 07:25] #7 closed

[2016-12-29 09:36] #1 closed

[2017-03-09 17:52] replicaJunction opened #8 "Cannot process argument because the value of argument "validValues" is out of range"
The first time I call Add-LoggingTarget, I receive this sequence of errors:

[code]

Here's the relevant section of the script using this module:

[code]

The script stack trace points to the third line in the above snippet (the first call to Add-LoggingTarget) as the line that caused this error.

The strange thing is that after receiving this error once, I can't replicate it - running exactly the

[2017-03-09 17:58] EsOsO commented on #8
Hi Joshua, thx for the feedback, I suspect the problem could be the empty
hash table in the first call to add-loggingtarget, try to call it only with
the Name parameter.

I will look into it asap

Massimo
On Thu, 9 Mar 2017 at 18:52, Joshua T <notifications@github.com> wrote:

[2017-03-10 08:26] EsOsO commented on #8
@replicaJunction I'm inspecting the issue, atm I'm not able to reproduce it on a Windows 10 machine.

Could you please verify if there's the 'target' folder inside the module path?

[2017-03-10 18:04] replicaJunction commented on #8
Yep, the target folder exists, and has Console, ElasticSearch, Email, File, and Slack PS1 files in it. If it matters, I installed the module from the PSGallery to Program Files.

[2017-03-10 19:45] replicaJunction commented on #8
Okay, here's how I can consistently reproduce this:

1. Save the script below to a .ps1 file.
2. Open a new PowerShell window that does not load the Logging module by profile/default
3. Run the script file. The error occurs.
4. Run the script file again in the same PowerShell session. The error does not occur.

[code]

Output from the first run:
[code]

Output from the second run:
[code]

(I reali

[2017-03-13 09:28] EsOsO commented on #8
Hi @replicaJunction, I'm now able to reproduce the issue, it seems related to module import.
While I'm inspecting the cause you can workaround by manually importing the module at the beginning of the script.

Thanks for your feedbacks

[2017-03-13 13:19] #8 closed

[2017-03-14 14:01] replicaJunction commented on #8
Confirmed - the latest commit fixed my issues as well. Thank you very much!

[2017-08-07 13:50] turturis opened #9 "Writing extended ascii to text file"
If I attempt to write this character "—" in the Write-Log function, it will send to console out properly.  however, it will output a "?" to the log file.

In my current logging function I am able to write that character.  EsOsO Logging solution is much more clean and elegant so I would like to use it in my project.

can you see any way around this?

[2017-08-07 15:16] EsOsO commented on #9
Hi @turturis, thanks for the appreciation.

I think could be the file encoding, it defaults to `ascii`. Could you try to set it in the configuration:
[code]

Let me know if it works.

[2017-08-07 16:28] turturis commented on #9
that worked beautifully,  thank you!

for my knowledge, where are the encoding types defined?  I looked for different encoding types in the code and could not find them I only saw the reference to default ascii.

I used this for making a separator.  I added a function to your module I called 'Separator'

[code]

and I call it like

`Write-Log -Level INFO (Separator -Length 50)`

you can feel free

[2017-08-08 06:25] EsOsO commented on #9
You can find the encoding type in Out-File cmdlet:
[https://docs.microsoft.com/en-us/powershell/module/Microsoft.PowerShell.Utility/Out-File?view=powershell-5.1#required-parameters](Out-File doc)

You could write the separator with less hassle, like this:
`Write-Log -Level INFO -Message ('-' * 50)`

[2017-08-08 06:25] #9 closed

[2017-08-08 20:01] turturis commented on #9
is that separator line above built in already?

thank you for that and your help in this issue, btw.

[2017-08-09 07:24] EsOsO commented on #9
Yes, it's a powershell built-in operation; you can multiply a string n times.

You're welcome, I'm happy you found useful my module.

[2017-11-02 19:30] baingar opened #10 "Slack Logging"
Is Slack logging still compatible? I'm having trouble logging messages to Slack. I've verified my URI is proper as I can send a manual Invoke-WebRequest  command to Slack, but not from this Logging module.

[2017-11-03 09:18] EsOsO commented on #10
I'm sorry... I don't use slack and the slack part is not maintained, feel free to contribute with a pull request.
Maybe next week I can try to look into the issue. Could you provide me some more info? Also the `Invoke-WebRequest` you used to successfully send a message.

[2017-11-03 16:27] baingar commented on #10
I haven't had time to investigate the specific reason. I followed the readme and added logging target by populating only the webhook serverURI. I then performed a write-log and it didn't send the message to slack.

On an unrelated note, is there a capability to log to a specific target when multiple logging targets are added?

[2017-11-06 10:29] EsOsO commented on #10
Right now there's no way to log to a specific target if multiple are defined; you could try using `Add-LoggingLevel` and define a custom level used only in a target:

[code]

I'll try to look into the issue of the target; I'll keep you posted.

[2017-11-06 13:04] EsOsO commented on #10
I fixed the issue. 51e17be8d1aeb5541a71fc9f97a9cd96e259ddee

Let me know if you still have issues.

[2017-11-06 13:04] #10 closed

[2017-11-06 19:22] baingar commented on #10
Awesome! Thank you. I'll have to give it another try and let you know how it works. Cheers!

[2017-11-16 17:12] csandfeld opened #11 "Builds are marked as successfull even with a failing Pester test"
Looking at the build output from AppVeyor I noticied that your build is marked successfull, but Pester has a failing test.

https://ci.appveyor.com/project/EsOsO/logging/build/2.4.8

[2017-11-20 08:41] #11 closed

[2018-02-28 17:25] moggoly opened #14 "How to use Set-LoggingDefaultLevel?"
Hi,

I might be using this wrong, but I can't seem to get the default level set. My understanding is that if I call Set-LoggingDefaultLevel, then I shouldn't need to specify Level on calls to Write-Log, however Level is a mandatory parameter on Write-Log. I would expect Write-Log to be interrogating the default value I'm setting, and use that on all subsequent calls.

Or is my understanding incorr

[2018-03-01 10:00] moggoly commented on #14
Ignore this issue - I'm understanding the purpose of Set-LoggingDefaultFormat now - it's used to define the minimum level that should be sent to the targets.

[2018-03-01 10:00] #14 closed

[2018-03-01 10:15] EsOsO commented on #14
Glad you found out, I was about to reply. Feel free to ask if something isn't clear in the doc.

[2018-03-20 21:01] jeremymcgee73 opened #15 "Add-LoggingTarget randomly fails to load custom targets"
I have been troubleshooting a issue where sometimes Add-LoggingTarget randomly fails to load custom targets. However, if I add my custom target into the Target folder for the module, I do not have this issue. I used Get-LoggingTargetAvailable to test to see if the target was loaded, and it was. The issue is very intermittent.

This is the error:

    powershell.exe : Add-LoggingTarget : Cannot val

[2018-03-23 08:09] EsOsO commented on #15
I'm inspecting the issue, could you provide me an example of the script you're trying to run?

[2018-04-10 07:10] EsOsO commented on #15
I'll close the issue cause i've got no response from @jeremymcgee73. Reopen if you need.

[2018-04-10 07:10] #15 closed

[2018-04-30 12:51] deucalion opened #18 "WinEvent as logging target"
I know it already exists separately in powershell, but in the interest of using a unified framework it may be nice to have one logging framework that can feed the windows eventlog as well.

[2018-05-02 08:07] EsOsO commented on #18
Hi, @deucalion, thanks for the suggestion, I'll look into it asap

[2018-05-11 07:05] saqwel opened #19 "ElasticSearch target does not work"
Hello.
I am trying to add logs to ElasticSearch using your module, but nothing happend. I do not get any errors and do not see new messages in ElasticSearch index.
Here is my code.
[code]

I have successfully sent messages with Invoke-RestMethod cmdlet with parameters from example, but can't force to work your module.

[2018-05-14 07:45] EsOsO commented on #19
Hi @saqwel, I'm working on fixing the issue; it will be available asap

[2018-05-14 10:04] EsOsO commented on #19
Fixed in commit 496f70cd82c33a8c6f5b4b096d4fbf481001723a

Let me know if you still have issues.

[2018-05-14 10:04] #19 closed

[2018-08-14 20:31] jeremymcgee73 commented on #15
I finally came back to this. I have figured out how to alteast reproduce the problem. I believe that the path or files set in "Set-LoggingCustomTarget" are locked when multiple PowerShell processes are using the logging module. I have created a test custom target that you can test with. [Test-Logging](https://github.com/jeremymcgee73/PowershellScripts/tree/master/Test-Logging).

 `'1 .. 100 |% { p

[2018-08-14 20:34] jeremymcgee73 opened #20 "Add-LoggingTarget fails to load custom targets when multipe processes are running."
I opened a issue about this before but I was 100% sure how to reproduce the issue.  I believe that the path or files set in "Set-LoggingCustomTarget" are locked when multiple PowerShell processes are using the logging module. I have created a test custom target that you can test with. [Test-Logging](https://github.com/jeremymcgee73/PowershellScripts/tree/master/Test-Logging).

If you download the

[2018-08-14 21:05] jeremymcgee73 commented on #20
Also, it must be timed correctly. To repeat it, sometimes I would just run this command in 10 different consoles, until it started to happen.

[2018-08-15 15:52] jeremymcgee73 commented on #20
I did some more troubleshooting this morning. If I put the custom test target in the target folder, inside the module, the error doesn't occur. I think this will be my temporary fix/workaround.

[2018-08-17 07:37] EsOsO commented on #20
Hi @jeremymcgee73, thanks for pointing out this issue, it lacks a call to `Initialize-LoggingTarget` inside the function `Set-LoggingCustomTarget`

[2018-08-17 07:37] #20 closed

[2018-08-17 16:29] jeremymcgee73 commented on #20
Thank you!

[2018-10-17 13:27] renehernandez opened #23 "Ability to specify number of log files to keep in File target"
It would be desirable to have an option to set the maximum number of log files to keep while configuring the File target.
And whenever a new log file is created the oldest one can be deleted. Something similar to what log4net does with [RollingFileAppender](https://logging.apache.org/log4net/release/sdk/html/T_log4net_Appender_RollingFileAppender.htm)

[2018-10-17 15:58] renehernandez opened #24 "Add caller information as part of the log information"
It would be nice to show the name of the function/script from where the log was triggered, so that the message format could be as follow:

[code]

This in turn could be passed down as separate entry field into json that gets sent to elasticsearch

I am already using a workaround on my module, using the `Get-PSCallStack`, which is formatting the message to include this information before calling th

[2018-10-22 08:52] #24 closed

[2018-10-22 08:57] EsOsO commented on #23
Hi @renehernandez, I need to rework some logics before adding this request; right now I've tested some rolling function called every time a log is written but the performance are very bad.

Maybe I can think some sort of initializiation on the target, but in that way the roll will take place only the first time the script executes.
I will look into something, if you have any suggestion feel free t

[2018-10-24 00:18] renehernandez commented on #23
Hi @EsOsO, I am interested in contributing to these feature. I went over the code, but couldn't find any rolling functionality here. Are you planning to share what you currently have? Otherwise, I  could start developing some prototype as well for the rolling functionality by myself, but it would be wise to discuss some design upfront.

[2018-10-30 15:52] renehernandez commented on #24
Hi @EsOsO, I updated the Logging module version to include the *caller* information as part of the message format.

But after trying to use it, every log message gets written with `Write-Log` as the caller. Based on the commit change that you merge, it seems to be that using `$MyInvocation` directly does not work in this scenario, since according to [the docs](https://docs.microsoft.com/en-us/powe

[2018-11-12 00:56] lesodtc opened #26 "Write-log no simple call"
Hello,
I tested your module on Windows 10 , PS 5.1 , is very famous!

But I can call Write-Log without Level parameter, on documentation , it's possible. Can you give me an exemple ?
If I give a level each time, it's fine. But it's not very beautiful when you read code.

KR
Damien

[2018-11-16 08:10] EsOsO commented on #26
Hi @lesodtc, I think that setting a default level doesn't beautify the code, it could be useful thou for oneliners or short scripts. I'll look into the request by the way.

[2018-11-25 21:42] M1kep opened #28 "Ability to view output of Invoke-RestMethod in ElasticSearch target"
Is there any way to get the output of invoke-restmethod in the ElasticSearch target? I can't seem to find a way to get anything out of that as it is a loaded script block. I've resorted to writing to a file for debugging from within a custom target. What's the recommended method of troubleshooting those calls?

[2018-11-26 08:36] EsOsO commented on #28
Hi @M1kep, I think the best way to troubleshoot the calls is what you are already doing. I too use an `Out-File` call to debug sometimes.

[2018-12-07 00:01] adriens opened #29 "README Logo seems broken"

[2018-12-07 08:19] EsOsO commented on #29
yes it is 👍
I'd like to have a module logo but hadn't time to work out how to display it

[2019-01-04 02:20] renehernandez opened #30 "Module documentation is outdated"
The documentation at https://logging.readthedocs.io references as latest version 2.5.0 (2018-10-23), instead of the real latest one, which is version 2.6.18.

[2019-01-09 21:06] EsOsO commented on #30
fixed in the last commit

[2019-01-09 21:06] #30 closed

[2019-01-09 21:08] EsOsO commented on #29
now we have a logo ;)

[2019-01-09 21:08] #29 closed

[2019-02-08 21:04] MCrank opened #33 "Logging to specific target"
Hello.  I have two targets configured, File & Slack.  Poking around it does not look as though you can target a specific Write-Log message to a particular Target.  i.e I have some monitoring built into a script that should fire a Slack message only when certain criteria are met.  I tried the setup specified in Issue #10 but All of the log messages got fired into the slack channel but were identifi

[2019-02-11 22:00] Tadas commented on #33
You might want to try using a higher level for your loglevel (eg. 50).

Log messages are processed by targets if their level is equal to or higher than that of the target
https://github.com/EsOsO/Logging/blob/e62cd0b185588972bce7731c05aa9359effe456d/Logging/Logging.psm1#L102-L104

Your config sets Slack to receive all messages that are higher than 5, which is essentially log messages:
https://gith

[2019-02-11 22:03] MCrank commented on #33
Ahh.  That makes sense.  I'll give that a shot.  Thank you

[2019-02-14 17:35] MCrank commented on #33
@Tadas @EsOsO That fixed my issue.  Thank you for the response!

[2019-02-14 17:35] #33 closed

[2019-04-01 17:18] lboening opened #38 "Body writes System.Collections.hashtable"
Problem: The argument for the -body is processed as System.Collections.Hashtable

Inputs:
[code]

Expected:
[2019-04-01 12:12:07.-05:00][ERROR  ][Deploy-PowerShellAppV2.ps1][Hello, World!][1527] [server='srv01.contoso.com']

Result (error):
[2019-04-01 12:12:07.-05:00][ERROR  ][Deploy-PowerShellAppV2.ps1][Hello, World!][1527] System.Collections.Hashtable

Help.

[2019-04-02 15:03] EsOsO commented on #38
`-Body` is meant to be used with the file target, I suggest you to set logging format per target to avoid problems:

[code]

[2019-04-02 18:20] tosoikea opened #42 "Remove Start-Sleep from Logging.psm1"
Inside Logging.psm1 the consumer of the message queue only consumes messages every  10ms.
L 109 : Start-Sleep -Milliseconds 10

This leads to two problems :
1. Unecessary cpu usage
2. Missing messages
   2.1 Partly resolved through Wait-Logging => Enforces unecessary delay

Request :
Proper Producer-Consumer with Wait and Pulse. (Thread only works when new messages are laid into the queue)

[2019-04-03 07:18] EsOsO commented on #42
You're right, it's the part I like less of my code. If you have any suggestion about how to implement a producer-cosumer pattern I'll be glad to discuss about it, I don't, actually, know how to remove that sleep, I also tried removing threading at all, but the concept of delegating the writing of the log to a thread it's appealing imho.

Feel free to suggest whatever you consider helpful to the pr

[2019-04-03 07:23] tosoikea commented on #42
@EsOsO I completly agree that it is very important to keep the concept of delegating the produced logging messages to a consumer running in a separate thread.

I will try to look over the implementation in detail till to tomorrow and try to remove the dependency on  Start-Sleep.

[2019-04-03 07:57] EsOsO commented on #23
I'm thinking about adding an `Init` scriptblock to the targets that gets executed once you `Add-LoggingTarget`. In this way we have an entry point to execute code only during Logging setup hence the ability to rotate log files and clean the containing folder.

[2019-04-03 07:59] EsOsO commented on #42
@tosoikea, did you ever lost messages? I'm using the module quite extensively at work, but never had such issue. Just curios...

[2019-04-03 08:29] tosoikea commented on #42
@EsOsO As long as Wait-Log is called, messages should obviously never get lost.
But you will notice the delay enforced into the logging by only having Console as LogTarget and then writing logs.

We are planning on using this module for logging at our work and with a high grade of automation we want to limit the possibilities of any kind of errors. (or wasted resources)

[2019-04-03 08:35] EsOsO commented on #42
I completely agree about wasted resources (the module is working fine for me using in production, but is far from efficient).
Regarding delay, yes, there's delay about the "main script" execution and the console line written and that's why I introduced `Wait-Logging` to be used in scheduled/unattended scripts to avoid that the "main scripts" ends without emptying the log queue (a way to flush log

[2019-04-03 10:04] renehernandez commented on #42
@EsOsO @tosoikea I have run into the situation of forgetting to place `Wait-Logging` at the end of a couple of scripts a few times in some part of our automation at work :(!! The experience is good because it always take a while to realize that I am missing to place the `Wait-Logging` call at the end. I think from a user experience it would be better if we could get rid of it completely

[2019-04-03 10:06] EsOsO commented on #42
@renehernandez totally agree, it should be an implicit call.

[2019-04-03 14:12] lboening commented on #38
I tried that and passed a hashtable. The result is still Systems.Collection.Hashtable.

In the file.ps1 target, I see these lines:

[code]
Could it be that a $log.body that is a hashtable needs a "getenumerator()" method?

[2019-04-03 14:25] EsOsO commented on #38
@lboening you're right, the issue is on line L21 of File.ps1, where i format the message.
I'll take a look asap

[2019-04-03 16:15] tosoikea commented on #42
I implemented a first sketch of a working implementation in my fork.
Feel free to have a look.
I am going to test further and improve the overall code structure.

(I have a requires version 5.0 for the using directive. This can be removed for better compatibility)

[2019-04-04 07:17] EsOsO commented on #42
Nice approach, didn't know about BlockingCollection.
How is working the module with this changes?

[2019-04-04 08:59] tosoikea commented on #42
It seems to behave quite well. I am going to write some tests to ensure functionality.
Also the need for Wait-Logging should pretty much be removed.

[2019-04-04 09:03] EsOsO commented on #42
Great work. Can't wait to test it out ;)

[2019-04-05 06:28] EsOsO commented on #38
Should be fixed in 2.10.0.

Let me know if persists

[2019-04-05 06:28] #38 closed

[2019-04-05 06:30] EsOsO opened #43 "Rework Replace-Token"
This function is heavily used across the module. Better tune it for max efficiency.

[2019-04-05 09:32] tosoikea commented on #42
I had some free time today and yesterday and pushed a fully functional version to my fork.
I am not going to convert it to a pull request, as i want to further test functionality.

If you have the time to test the implementation, I would be very happy. :>

[2019-04-05 09:39] EsOsO commented on #42
Yeah, I'm trying to better understand RunspacePool cause, right now, we are not using throttling (we spawn only 1 thread). I'm experimenting with a runspace that act as a QueueManager that loop over the BlockingCollection with the idea to use a runspacepool with threads == to the number of active targets (not sure if it's a good idea, still figuring it out).

I'll keep you posted if I make any pro

[2019-04-05 11:50] EsOsO commented on #42
Just tested out your implementation, it's amazing!! The execution speed of the "main script" is quite the same, but console writing is synced with the "main flow".

Great job!

[2019-04-05 14:11] renehernandez commented on #42
@EsOsO A simple approache would be either use `Measure-Command` or an `Stopwatch` instance to calculate the average time of several runs of tests

[2019-04-06 14:07] tosoikea commented on #43
@EsOsO Scriptblock seems to behave very strangely inside multithreaded context. I therefore needed to make small changes to Replace-Token.

[2019-04-06 14:09] tosoikea commented on #42
I just created the corresponding pull request.
As a side note :
- One consumer thread should be enough for every local action. (Speed is high enough, Threads just add unecessary overhead)
- We could look into further multithreading when doing tasks resulting network (elasticsearch...) traffic

[2019-04-08 11:13] #43 closed

[2019-04-08 11:13] #28 closed

[2019-04-08 11:14] #26 closed

[2019-04-08 11:16] EsOsO commented on #42
I've pushed to dev some changes, pls take a look and if ok I'll close the issue and publish a major version (3.0.0) of the module

[2019-04-08 11:18] EsOsO opened #45 "Move to Azure pipelines"
I think it could be useful to move to Azure Pipelines to test the module against all major versions of Powershell

[2019-04-08 11:39] EsOsO opened #46 "Add catalog cmdlets"
As stated here: https://docs.microsoft.com/en-us/powershell/wmf/5.1/catalog-cmdlets

[2019-04-08 12:19] tosoikea commented on #42
I will be taking a look this evening.

[2019-04-08 15:32] romanlum opened #47 "Memory leak in version 2.10.0"
I always use the latest version of the module and since 4 days my build was slow as hell and even failed.
I tried everything to fix it, but nothing worked.

I saw that the memory of the  powershell.exe process grew to 7 GB and more and i checked all modules and saw that 2.10.0 was released 4 days ago :)

After downgrade to module version 2.9.1 my build worked as before and  no significat memory in

[2019-04-08 19:33] tosoikea commented on #42
@EsOsO Everything seems to be working quite well. I am not going not have a lot of free time this week, but will add further tests and documentation as soon as possible.

[2019-04-08 23:07] zach72 commented on #47
I am able to reproduce this with the example in the docs:
[code]

This doesn't work as intended, as the logging format doesn't match what is set with the Set-LoggingDefaultFormat command.

[2019-04-09 00:07] zach72 opened #48 "Create a timestamputc format"
It would be useful if there was a **timestamputc** format that would output the time in UTC (using [DateTime] `ToUniversalTime()` method.

[2019-04-09 08:20] EsOsO commented on #47
I'm currently not able to reproduce the memory leak in 2.10.0, using the example above my powershell.exe uses 189Mb of RAM. I'll inspect deeper asap, meanwhile you can downgrade to 2.9.1 or try the alpha build of the upcoming 3.0.0 release (you won't be disappointed ;) )

[2019-04-10 07:34] EsOsO opened #50 "Initialize logging targets from configuration"
We could add a function that read a json file and configure  targets, levels and format.

[2019-04-15 09:25] EsOsO opened #52 "Fix module versioning with gitversion"
Need to understand the way to manage release versioning with gitversion workflow

[2019-04-15 09:26] EsOsO commented on #42
closed in 24a715ec55cbd171338ab84b07d38444974bfe61

[2019-04-15 09:26] #42 closed

[2019-04-15 09:27] EsOsO commented on #47
Released new version, memory leak should be resolved.

[2019-04-15 09:27] #47 closed

[2019-04-18 20:29] MCrank opened #53 "Allow passing Icon into Write-Log for Slack Target"
* As a user I would like to be able to pass in a custom icon into the Slack Target to override the existing ones.
* Today there is no way to send a message to one target vs another that I can see.  I have created a Specific Logging Level that handles the SLACK messages and that is working.  The problem is the Slack target module supplies the 🔥 ⚠️ ❗️ icons based on logging value so all of my slack

[2019-04-30 15:25] jasonchester opened #54 "Support for powershell core"
powershell core does not support apartment states.

Checking for powershell edition -eq Desktop prior to setting the Apartment state would prevent this error.

[code]
in **Start-LoggingManager.ps1** @ Line 18
[code]

[2019-04-30 15:28] jasonchester commented on #54
since $PSEdition isn't available before PS 5.1 a better check might be to test the property itself...

[code]

[2019-05-06 05:31] tosoikea commented on #50
I could implement this behavior by the end of this week.

[2019-05-06 05:32] tosoikea commented on #23
Any further thoughts or progress on implementing the log rotating?
If not I could have a look by the end of this week.

[2019-05-06 13:06] renehernandez commented on #23
@tosoikea I didn't get to do any progress on this, so feel free to chime in

[2019-05-07 06:31] EsOsO commented on #23
I'm sorry guys, I'm busy at work so don't have much time to code. Hope to get back asap

[2019-05-07 11:21] renehernandez opened #55 "Logging does not print the filename nor the caller information"
Running the example from the docs under the **Caller** sections results on Log messages not showing neither the caller not the filename.

[2019-05-10 07:28] tosoikea commented on #54
@EsOsO https://github.com/PowerShell/PowerShell/issues/6908. The created InitialSessionState should be MTA by default.

[2019-05-13 09:42] tosoikea opened #56 "Incompatibility with ErrorAction=Stop and Set-StrictMode -Version 2.0"
### Steps to reproduce
We run our automation modules with Set-StrictMode -Version 2.0 and ErrorActionPreference=Stop.
After multiple different calls to the logging consumer, single methods seem to be in an undefined state resulting in a terminating error.
![image](https://user-images.githubusercontent.com/35578078/57611709-baf7c680-7573-11e9-9f4c-7a98edbe1790.png)

Error arises from Replace-Token

[2019-05-13 10:03] EsOsO commented on #55
I've fixed the Caller section in the docs under dev

[2019-05-13 10:05] EsOsO commented on #54
Ok, we should drop the ApartmentState assignment ad use deafult

[2019-05-13 10:29] tosoikea commented on #54
Okay, after some testing it seems like this is not true for all PowerShell versions...
I would include the following code snippet.

[code]

[2019-05-13 12:48] EsOsO commented on #53
Hi @MCrank, thanks for the suggestion, I'm against putting a target specific parameter to `Write-Log`. I'm planning to put an hashtable as an added parameter in the Slack target configuration:
[code]
You'll be able to map a Level to an emoji and use only the icons relevant to you.
If sounds good to you I'll publish the patch.

[2019-05-13 12:54] EsOsO commented on #56
I got some similar issues (if my understanding of the error text is right ;) ) and I think it doesn't relate to Replace-Token or StrictMode (I don't use it) or terminating errors but to the way the runspace load the module itself. Trying to reproduce but no luck.

[2019-05-13 17:16] MCrank commented on #53
@EsOsO That looks like it may work.  I'll try to grab this once it gets merged and give it a run.  Thanks.

[2019-05-15 15:57] MCrank opened #58 "Send Message to Specific Target (Slack)"
Hello,

I have downloaded the latest version of the Logging module and it seems to have broken (or fixed 😛 ) the method I used (Issue #33).  Digging around it seems like most of the previous plumbing of the Logging.psm1 file has changed.  Anytime I use Write-Log now the message goes to all targets.  My goal is to send more verbose logs to File and send only major errors to slack, otherwise it gets

[2019-05-16 07:19] EsOsO commented on #58
Hi @MCrank can you provide an example of the code you're having issue with?

[2019-05-16 10:31] MCrank commented on #58
Sure thing.  Here is my Configuration:
[code]

So when I needed to send something critical that needs my attention to slack I would call it like this:

[code]
This would write the message to the Log file and send the message to slack as well.  With the latest version my Write-Log statements would all get fired to the log and slack even when not targeting the `SLACK` logging level.

Otherwise I wou

[2019-05-20 12:41] EsOsO commented on #58
Hi @MCrank, since the introductions of defaults target configurations, the default target level doesn't honor the `Set-LoggingDefaultLevel` (I'll open an issue about that).

Right now you have to explicitly set the target level in the `Add-LoggingTarget` otherwise it will be set to NOTSET.

[2019-05-20 13:07] EsOsO commented on #53
Closed in 4.1.1

[2019-05-20 13:07] #53 closed

[2019-05-20 13:07] EsOsO commented on #48
Closed in 4.1.1

[2019-05-20 13:07] #48 closed

[2019-05-20 13:08] EsOsO commented on #55
Closed in 4.1.1

[2019-05-20 13:08] #55 closed

[2019-05-20 13:08] #52 closed

[2019-05-21 05:39] tosoikea commented on #54
@jasonchester There is a new version up for download, implementing the wanted check. Could you test the functionality for powershell core with the updated version?

[2019-05-22 17:05] jasonchester commented on #54
@tosoikea this works on powershell core now...

one strange thing I noticed when running the sample code

[code]

is that the system hung... i identified the issue as the path set here:
[code]
was not valid on my mac but instead of displaying a meaningful error message, logging appears to hang. One suggestion i would have would be to validate creating a file when adding a target or at least trappi

[2019-05-22 17:20] jasonchester commented on #54
Disregard my previous comment, cannot reproduce.

I removed the random start-sleep and saw the errors displayed...
[code]

[2019-05-22 17:20] #54 closed

[2019-07-01 21:28] thorstenkampe opened #61 "Loglevel is ignored"
[code]

[2019-07-01 21:33] thorstenkampe opened #62 "Exiting shell makes console hang"
[code]

[2019-07-10 13:34] embusalacchi commented on #62
I have seen this happen a few times.  That said, I don't think I've seen it happen when I add the Wait-Logging to the end.

[2019-07-10 13:35] embusalacchi commented on #61
I believe the default logging level only takes effect if you don't specify a logging level.  In your example you're setting it to -Level INFO ...

[2019-07-18 21:29] dmcconnell68 opened #63 "Intermittent issue with Logging module"
Hi,

I'm trying to implement your logging module, but seeing some intermittent strange behavior.  An example, I run a script and get the following error:

[code]

I can immediately run the same script again and it works without error.

Any ideas on what may be causing this?

[code]

Thanks,
David

[2019-07-25 08:44] EsOsO commented on #61
Ate the moment `Set-LoggingDefaultLevel` only applies to subsequent target definition not already configured targets.
Try:
[code]

[2019-07-25 08:47] EsOsO commented on #63
I've seen the same behavior; could be related to runspace and functions import but I'm not able to reproduce it to debug.

Will look into it, if you find a way to reproduce please let me know

[2019-07-29 11:06] EsOsO commented on #63
When the issue described arise I noticed that the module gets imported a second time. That could be the root cause, I didn't find out why yet

[2019-08-05 11:46] #61 closed

[2019-08-05 12:20] #63 closed

[2019-08-05 12:21] EsOsO commented on #62
Let me know if 4.2.2 resolve this issue

[2019-08-05 17:12] thorstenkampe commented on #62
Sorry, no change

[2019-08-13 16:01] vandre opened #64 "Message being lost with -Wait-Logging flag"
I have a script that does tasks in different threads and I noticed that some messages were being lost.  I used the following script to test:

[code]

The script above spawns 5 concurrent threads, each one logging 100 message to the log file.

Expected result: 500 lines written to example CSV file
Actual result: Number of lines written varies. May need to try different times.

Note: I'm using PoshR

[2019-08-14 15:28] xiddic opened #65 "Encoding in log file"
Hi

Cannot seem to select encoding for the log file.

My log file output is in swedish and I would like to be able to select encoding when the log file iss created.

[2019-08-19 07:27] EsOsO commented on #65
Take a look at https://github.com/EsOsO/Logging/wiki/Usage#file, you should be able to set encoding in target declaration.

[2019-08-19 07:41] EsOsO commented on #64
I need to take a look into this issue cause my module uses runspace to spawn a thread that actually write the log.

Maybe a runspace inside another runspace is not a good idea for the sanity of the environment in which it runs.

I'll take a look to see if I can work around something

[2019-08-19 07:43] EsOsO commented on #56
Should be fixed in 4.2.2; let me know otherwise

[2019-08-19 07:43] #56 closed

[2019-08-19 07:43] #58 closed

[2019-08-19 20:14] ZamElek commented on #61
Seems the bug still exists (Reproduced on PowerShell 5.1 (Windows 10 1903), PowerShell 6.2.2 (Ubuntu)):

PS /home/pavel> Get-Module Logging

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     4.2.2      Logging

PS /home/pavel> $PSVersionTable

Name                           Value
----

[2019-08-21 17:08] allen-chin commented on #23
Just want to double-check with everyone about the status of this issue. Would it be okay if I took a look to try something out?

[2019-08-26 16:31] xiddic commented on #65
My bad!

[2019-08-26 16:31] #65 closed

[2019-08-27 07:07] EsOsO commented on #23
Sure, no problem, feel free to submit a PR

[2019-08-29 22:31] lzinga opened #66 "LoggingTarget Console not working as expected"
In the latest versions of this powershell logging library I am getting unexpected behavior.

[code]

With the code above while running through the PowerShell ISE "Test" does not get logged into the console, however it does get logged into the File location. I went back a version and the same thing occurred, finally I went back to 4.1.1 and the above code was working as expected.

I am not sure if

[2019-09-03 22:24] lzinga commented on #66
Another issue which I believe is in 4.1.1 and up is that the colors don't show up when running from ISE as well. It shows up when the script is ran manually.

[2019-09-04 20:58] benclaussen opened #67 "Set-LoggingDefaultFormat Ignored"
It seems a custom logging format is ignored, but still acts as if it is set when you call `Get-LoggingDefaultFormat`. It does not make a difference if I set the default format before or after adding a target

[code]
The pester tests all pass for `Replace-Token` so I think it has something to do with the formatting of the message in the `Write-Log` function. I haven't been able to dig into the sour

[2019-09-05 21:04] benclaussen commented on #67
My current theory is that this happens because `Initialize-LoggingTarget` is called before the user can call `Set-LoggingDefaultFormat`... When I export the `Stop/Start-LoggingManager` functions... I can stop the manager, set the format, then Start the manager again. When I then add the target, the format is correct.

Without Stop/Start (I added some `[Console]::WriteLine()` in the `Replace-Token`

[2019-09-13 07:30] #67 closed

[2019-09-17 10:24] gahujipo opened #70 "Target WinEventLog gives "Level not a valid integer or a valid string:""
Running the following code snipped does not work for me:

[code]
It gives me

[code]

Is there something I missed?

[2019-09-19 13:24] turturis commented on #66
I was running a early version in the 2.x range. I decided to try the upgrade to 4.1.1 and experienced the same thing. i went as far back as 2.10 and experienced the same thing.

I have been using Logging module in 40-50 different projects for 3+ years.

I thought it would be as easy as dropping in the new module(s) and directories for targets and such, but that is not the case.

[2019-09-19 14:55] turturis opened #72 "Trying the TL;DR example as stated fails with multiple errors"
Following the TL;DR basic example explicitly (literally copy pasta) from https://logging.readthedocs.io/en/latest/ fails with the following errors:

Exception calling ".ctor" with "1" argument(s): "Cannot process argument because the value of argument
"validValues" is out of range. Change argument "validValues" to  a value that is within range.
Parameter name: validValues
Actual value was System.S

[2019-09-19 15:09] turturis commented on #72
it appears that using the link within the document to download the files vs issuing the Install-Module Logging is the issue.  not sure why, but when i did the second option, it worked.

[2019-09-19 15:24] #70 closed

[2019-09-19 16:12] #72 closed

[2019-09-23 11:27] EsOsO commented on #66
I'm really sorry to hear that messages are lost on ISE. I'm inspecting the behavior without success.
I'll take some more time to try to work around the issue, if you find more insights let me know.

[2019-09-23 12:43] #66 closed

[2019-09-23 13:31] EsOsO commented on #62
I'm unable to figure why exiting the console makes it hangs... Any clue will be appreciated

[2019-10-22 11:32] paulharman commented on #62
I'm also seeing this and am using wait-logging

[2019-10-23 23:43] cruscio opened #73 "Add-LoggingTarget : Cannot validate argument on parameter 'Name' for "WinEventLog""
This is happening intermittently in a script that runs as a scheduled task. Sometimes the task starts up and logs fine. Sometimes it throws this error. (PSVersion 5.1.14393.2430, Logging version 4.2.11)

Code that errors
[code]

Error message

[code]

I'd guess AV or over-provisioned hosting or something else is causing `Start-LoggingManager` to take longer than 500ms to do its work

From [Logging

[2019-11-01 18:30] pdavis-od commented on #62
I am having this issue as well. Happening on Windows and Linux

[2019-11-04 16:16] pdavis-od commented on #62
In trying to see if I can find where things broke down, I found that version 4.1.1 works as intended on both Windows and PS Core on Ubuntu 18.04. I will most likely be running with that one until a later version comes along that "fixes" things. I would love to be able to get in there and see if I can figure this one out, but time is my enemy :(

[2019-11-08 08:20] EsOsO commented on #62
I know that feeling too.

I really don't know how to inspect this behavior; for me is not a big issue cause I load the module in the profile and keep using it until I close the Powerhell shell, so it not hangs.

What's your use case?

[2019-11-08 08:21] EsOsO commented on #73
Sorry to be late commenting, I'm currently low on time. I'll try to look into this asap, meanwhile feel free to pull a patch

[2019-11-08 12:11] pdavis-od commented on #62
I am executing cron jobs (Ubuntu Server 16.04/18.04) that call a PowerShell script to read redirected stderr output and format/send to Elastic Search

[2019-12-04 20:02] SilentBob999 commented on #64
Hi,
I also notice that some message appears after Wait-Logging and can be lost at the end of a script.
I am using those two target: WinEventLog & Console.

I am having a real hard time to understand the mechanic behind the module as I am not familiar with anything related to “runspace”.

I notice that Wait-Logging is waiting for “LoggingEventQueue.Count -gt 0”.  However, is the count goes to Zero

[2019-12-09 07:34] EsOsO commented on #64
@SilentBob999  Are you using the logging module with PoshRSJob?

[2019-12-09 20:52] SilentBob999 commented on #64
Hi @EsOsO ,
I do not use PoshRSJob.
It is all sequential, no "jobs" of any kind.  Just a lot of code fragmentation (dot sourcing, import-module, etc....)

[2020-01-13 14:44] mitrov opened #75 "New line in body of Teams message"
Hi

How can I write a new line in the body of a Teams message?

No matter what I tried so far, I always ended up getting one long string in the body of the Teams message. Any ideas / suggestions?

Thanks

[2020-03-16 20:55] jeremymcgee73 opened #81 "Set-LoggingCustomTarget throws error"
When setting a custom logging target, I get the following error. I am using PowerShell 5.1 and version 4.2.13. I'm pretty certain that the event will be removed once the runspace is removed anyways. I don't think it needs to be unregistered from my local testing.

This is the script I used to test. [Test-Logging](https://github.com/jeremymcgee73/PowershellScripts/tree/master/Test-Logging).

 `Set-

[2020-03-22 21:19] Tadas commented on #81
I think the error happens here https://github.com/EsOsO/Logging/blob/80f6ff5b3c321f3b76fa5911e60a47db36b7bb3b/Logging/private/Stop-LoggingManager.ps1#L11

#82 reintroduces `$Script:LoggingRunspace.EngineEvent` so it should fix this issue

[2020-03-23 08:19] #62 closed

[2020-04-04 19:51] lzinga opened #84 "Wait-Logging after running background jobs losing log messages"
I am unsure if I am placing it in the correct location but am basing it off the wiki info. I currently have a Powershell script that is starting roughly 5 different jobs using the `Start-Job` cmdlet. Within the jobs I am using the `Write-Log` cmdlet and after a `Wait-Job -Job $jobs` I wait for all the jobs to be completed and then call `Wait-Logging` so the script looks something like this -

[cod

[2020-04-05 01:43] lzinga commented on #84
Got a work around. I had to make a custom wrapper for Start-Job that does some fun stuff with Import/Export-Clixml which allows me to save the logging information and load it for any job that needs it.

For those interested in how I did this It looks something like this -

[code]

This writes to the same file as all other logging, however it fails to write to the console. This probably has to do t

[2020-04-05 04:06] #84 closed

[2020-04-29 20:43] #45 closed

[2020-04-29 20:52] EsOsO opened #87 "Rewrite build pipeline"
Right now the module is stuck at 4.2.13 cause the build process on appveyor fails with an exception.
I need help in reworking the pipeline and finally build 4.2.14 with the console hang fix.

I'd really like to carry on the project but right now I'm short on spare time but understand that the pending fix is a lot valuable for daily usage of the module.

To anyone who wants to contribute I can give

[2020-04-29 20:57] EsOsO opened #88 "Keep using semver"
Right now the build process uses gitversion to keep module versioning automated.

[2020-04-29 21:29] gahujipo commented on #88
Do you want to replace Gitversion by something else?

[2020-04-29 21:32] EsOsO commented on #88
Not necessarily, I want to keep infer the module version by git commits and pr and not having to do manually.

[2020-04-30 15:47] jeremymcgee73 commented on #87
I'm pretty certain it is failing because of a bug. The build process works on my local copy now.

I am running the version from the PR I sent yesterday, and it has solved my problem(so far :-) ).

[2020-04-30 22:37] mabster opened #90 "Reset-LoggingTarget or -Scope param?"
If I'm doing some testing with a script, and at the top of the script I have something like this:

[code]

... then when I run the script, the logging targets persist even after the script ends. If I subsequently call Write-Log, the output goes to the console and to the configured file.

This might be a feature request but maybe I'm just missing something obvious. Is there a way to scope the loggi

[2020-04-30 23:31] mabster commented on #90
I guess I can do:

`(Get-LoggingTarget).Clear()`

... but that's relying on the internal implementation of Get-LoggingTarget (if you were to change it to return something without a .Clear() method, my code would break) and doesn't feel very "PowerShelly".

[2020-05-04 06:25] mabster opened #91 "File Target with Relative Path"
This sort of thing has been working for me without any issue until I scheduled the script to run on a server, where it failed:

[code]

When I ran the script on a different machine, it complained that it couldn't get to a path under my user profile folder (C:\Users\mabster\Logs) rather than a path relative to where the script lives.

Of course I was able to fix it by using "$PSScriptRoot\..\Logs"

[2020-05-07 07:03] EsOsO commented on #91
You're right, I had the same issue, resorted to full path. I think could be more a problem with the `Resolve-Token` function.

HINT: the module support a sort of string inerpolation, you could write the log name like this: `C:\Temp\example_%{+%Y%m%d}.log`. [See here](https://github.com/EsOsO/Logging/wiki/Usage#format)

[2020-05-07 07:06] EsOsO commented on #90
The module objects are globally scoped, maybe we can provide a function to clear the targets. You could try removing the module, it should cleanup all the vars used.

[2020-05-07 07:55] mabster commented on #91
Oh that's cool - I didn't realise the token replacement also worked in the target filename. That's a handy tip!

[2020-05-08 02:53] mabster commented on #90
Yeah I kinda like the idea of being able to add logging targets inside a script, but then also add my own from the host PowerShell instance before calling the script. Like:

[code]

... but when the script finishes, I don't want the File target still active.

What if Add-LoggingTarget were to return the added target instance, and then we had a Remove-LoggingTarget so that scripts could clean up af

[2020-05-08 03:10] mabster commented on #90
Hmm ... I guess that would need some pretty heavy refactoring since it looks like you can only have one target for each "name". So if I'd added a Console target outside of the script and then added it again inside the script, there's still only one target defined. Is that right?

[2020-05-12 23:35] jeremymcgee73 commented on #81
I'm still having an issue that's very intermittent. Sometimes the custom target loads, sometimes it does not. I'll try to take another look tomorrow.

[2020-05-24 06:07] snow-jlove opened #93 "Most targets ignore -ExceptionInfo"
The WinEventLog and Console targets include logic to print `-ExceptionInfo` from `Write-Log`. For example: https://github.com/EsOsO/Logging/blob/4.2.13/Logging/targets/Console.ps1#L38-L40.

However, no other targets have similar logic: https://github.com/search?q=execinfo+repo%3AEsOsO%2FLogging+path%3A%2FLogging%2Ftargets

Can similar logic be added to all targets?

[2020-05-28 08:25] Tadas commented on #87
I'd be willing to help out and contribute whenever I have some spare time.

[2020-05-29 07:49] Tadas commented on #88
Isn't that automatically happening here? https://github.com/EsOsO/Logging/blob/aa99080271cf700a26273cb89f3b22a7a93d906f/build.psake.ps1#L119
`$SemVer` seems to be coming from running gitversion before the build takes place

[2020-05-29 14:48] gahujipo opened #98 "SEQ: structured logging not implemented"
I'd really like to use SEQ as logging target. It fails for every ```Write-Log``` command, because there is a problem in serializing the JSON, which I already fixed here: https://github.com/acsdatasystems/Logging/commit/c0980fa72b3275038638704edfc48c02310d6733 but haven't merged yet.

With these changes, logs are coming to the SEQ server. But it seems, that there isn't implemented any structured lo

[2020-06-01 06:55] EsOsO commented on #98
Right now we cannot implement strucuterd logging (although I'd like it) cause the form `Write-Log -Message 'Hello, {0}!' -Arguments 'Powershell'` uses powershell string formatting and doesn't work on named parameters (the `{Who}`).

We need to write our custom string formatting to propagate the raw string down to the logging target.

[2020-06-01 06:58] EsOsO commented on #93
You're right. Is due to the target to "present" the log line (think it about MVC). If you have anything working feel free to PR a patch.

[2020-06-02 18:58] Tadas opened #99 "NotifyBeginApplication/NotifyEndApplication calls not needed?"
Why are `NotifyBeginApplication()` and `NotifyEndApplication()` calls needed?
https://github.com/EsOsO/Logging/blob/aa99080271cf700a26273cb89f3b22a7a93d906f/Logging/private/Initialize-LoggingTarget.ps1#L4

After reading [the docs](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.host.pshost.notifybeginapplication?view=powershellsdk-1.1.0) can't understand why they would be

[2020-06-02 23:05] Tadas commented on #90
I think it is possible for `Add-LoggingTarget` and `Remove-LoggingTarget` to figure our the scope the are being called from e.g. directly from console, from Foo.ps1 and etc. Remove could then only remove targets added in this scope. Two question come to mind - handling nested scopes and duplicate targets (think `Add-LoggingTarget -Name Console` is called from console and `.\Foo.ps1`)

[2020-06-03 00:28] mabster commented on #90
Yeah and it's entirely possible that I would have added the console target from the host before calling the script.

Perhaps each target keeps track of the outermost scope that it was added from, and Remove-LoggingTarget only removes targets that were added from this scope or lower?

[2020-06-03 01:20] Tadas commented on #91
Log processing runspace starts up when the module is being imported. It's entirely possible you might cd to some other location before calling `Add-LoggingTarget -Name File` so relying on working folder when the runspace starts up IMHO isn't great.

It feels like relative paths should be relative to the working folder when `Add-LoggingTarget` is being called, but others might feel differently. In

[2020-06-03 09:26] Tadas commented on #91
On second thought, file logging target Init block could be used to resolve relative paths

https://github.com/EsOsO/Logging/blob/aa99080271cf700a26273cb89f3b22a7a93d906f/Logging/public/Add-LoggingTarget.ps1#L38

[2020-06-05 09:32] Glober777 opened #101 "AzureLogAnalytics target generates an error when no Body provided"
Hi,

I've noticed that `AzureLogAnalytics` target (in module version `4.3.2`) produces an error when no `Body` property is provided:
`A hash table can only be added to another hash table.`

Here's a simple repro script:
[code]

[2020-06-07 19:43] Tadas commented on #81
@jeremymcgee73 I believe both of your issues should be resolved by #92 and #100

[2020-06-08 07:43] #101 closed

[2020-06-08 07:46] EsOsO commented on #88
Yes, I was writing down the requirements for the new build script. But you fixed it and now we don't need to rewrite it.

[2020-06-08 19:33] Tadas commented on #88
While on the subject on pipeline improvements, I think it would be useful to create dev releases. Would make it easier to test changes while master would be more stable.

[2020-06-09 07:53] EsOsO commented on #88
I agree, I'll work on it asap.

[2020-06-09 07:53] #88 closed

[2020-06-09 07:54] EsOsO opened #104 "Create dev builds"

[2020-06-09 07:56] EsOsO opened #105 "Build against Linux, MacOS, Windows / Windows Powershell, Powershell"

[2020-06-09 22:18] mabster opened #106 "Are target names case sensitive?"
If I run the following commands with the latest module version, I get an error:

[code]

If I use `Console` with a capital C when adding the target, everything's fine.

I don't think the -Name parameter for Add-LoggingTarget should be case sensitive, so something strange is happening here.

[2020-06-11 10:08] EsOsO commented on #106
You'r right, `Target` name is case sensitive right now due to how PSCustomObject match key names.

[2020-06-17 15:02] #99 closed

[2020-06-18 00:22] mabster commented on #106
This is fixed now! Thanks Tadas. I will close this issue.

[2020-06-18 00:22] #106 closed

[2020-10-06 01:55] jangins101 commented on #75
@mitrov - I know this is an old issue, but I just submitted [PR 108](https://github.com/EsOsO/Logging/pull/108) that included some enhancement for the Teams target. It's not rolled into master at this point, but it allows for Markdown in the message, so you could accomplish new lines as well as a few other options described in the PR.

[2020-10-07 23:08] mitrov commented on #75
Thanks @jangins101, I'll have a look at it.

[2020-11-10 15:39] kilale opened #110 "Add variable hostname to $logMessage"
Hi,

I really like this module. I noticed, that a field "hostname" is missing in $logMessage.
Made a fork for my implementation, which currently has this change.

**File:** _public/Write-Log.ps1_

`
$logMessage = [hashtable] @{
            hostname     = [System.Net.Dns]::GetHostName()
...
        }
`

Would love to see this change in an upcoming release or the option to define custom fields for t

[2020-11-12 09:46] EsOsO commented on #110
Hi @kilale, thank you for your feedback, really appreciated.

Personally I don't agree on adding a system call every time you produce a log record and it's not inherent to the log.

Try this (inside the calling script):

[code]

[2020-11-12 10:06] kilale commented on #110
Hi @EsOsO,
I don't need the hostname information to be added to the message itself.
We wrote a custom target for vRealize LogInsight (vRLI) and this information is used as a custom field.
Second target is MS Teams, where I could use the body method. Same message would be displayed completely different in vRLI with the body variable.
I agree with you, that the system call is not optimal on this par

[2020-11-12 10:13] EsOsO commented on #110
Maybe you need to pass it as variable during Target configuration.

Provide me an example, if you can

[2020-11-12 10:40] kilale commented on #110
The vRLI target configuration is similar to Teams
`  Name          = 'vRLI'
    Configuration = @{
        LogInsightServer = @{Required = $true; Type = [string]; Default = $null }
        Details          = @{Required = $false; Type = [bool]; Default = $true}
        Level            = @{Required = $false; Type = [string]; Default = $Logging.Level }
    }`

The payload will be build in the Logger

[2020-11-12 13:40] EsOsO commented on #110
Take a look at the [ElasticSearch](https://github.com/EsOsO/Logging/blob/master/Logging/targets/ElasticSearch.ps1) target Flatten variable, maybe is what you need.

I don't get your needs, sorry.

You want to call `Write-Log -Level DEBUG -Message 'Hello, World!' -Body @{hostname = 'srv1.contoso.com'}` and get the same output in Teams and in vRealize LogInsight?

[2020-11-12 14:40] kilale commented on #110
Using the body key will not resolve fields of the hashtable in teams.
![image](https://user-images.githubusercontent.com/3524565/98950862-d1306b00-24f9-11eb-8073-b523056e5e3d.png)
For the LogInsight target i can build something around. Body key has not been used yet.

[2020-11-26 09:59] kilale opened #111 "Support for multiple Teams channels"
Hi,

is there a way to send messages to multiple Teams channels? Maybe switch between channels?
I tried to set the WebHook on demand, sending a message to a different channel, setting the WebHook back to original.
[code]
But since the logger is running in background, the messages are not send in time to the designated channel.
So sometimes the WebHook value is set back to $defaultchannel, before t

[2020-12-02 17:47] kilale opened #112 "File Target is converting $Log.body to json permanently"
In Target "File" Line 19 the variables content is converted to json, which is fine to write it to file.
But the current code is alternating the $Log.Body permanently to json, which is causing major issues on other Targets like Teams. In Target "Teams" the prior Body as hashtable is now a json formatted string, which is not handled within the Body section code.
Could you please change the code in T

[2021-01-19 09:24] SpaceTimer opened #114 "Not support Chinese? or any other Unicode language?"
logging Chinese, Korea, Japanese， all characters are displayed as "??" marks

[2021-01-19 09:27] #114 closed

[2021-02-11 09:44] EsOsO commented on #112
Fixed in the latest release

[2021-02-11 09:44] #112 closed

[2021-02-11 14:12] #91 closed

[2021-02-11 14:14] #75 closed

[2021-02-11 14:15] #81 closed

[2021-02-15 13:48] tosoikea commented on #23
@EsOsO As this thread seems to be falling asleep. I started work on it. I am implementing the following criterias for rotation

1. RotateAfterAmount
   After a given threshold of files is exceeded, oldest first
2. RotateAfterDate
   All files exceeding a certain difference between the current date and their creation time
3. RotateAfterSize
   All files exceeding a certain size in bytes

The normal

[2021-02-15 15:35] tosoikea commented on #23
@EsOsO I coded a first implementation on https://github.com/tosoikea/Logging/tree/rotation. Looking forward to your feedback. :)

[2021-02-15 16:07] tosoikea commented on #50
@EsOsO I added a simple initialization function based on .psd1 files (https://github.com/tosoikea/Logging/blob/initialization/Logging/public/Add-LoggingTargets.ps1). This should be more appropriate than .json as it supports the configuration of powershell specific value types in a simple fashion (e.g. DateTime).
Looking forward to your feedback. :)

[2021-03-02 16:12] tosoikea commented on #111
@EsOsO Maybe we could extend the target addition to allow multiple targets to run at the same time. This could also allow to add file targets for different severity. (e.g. one failure log with smaller granularity)

In a first thought this could be implemented by simply adding an identifier parameter (optional)
Current structure : EnabledTargets[Target.Name]
Possible structure : EnabledTargets[Targ

[2021-03-04 10:26] tosoikea commented on #98
@EsOsO How is the current status, I could add the feature next week.

[2021-03-14 20:36] petitPeyre opened #117 "Import-Module raises errors if in a script strict mode"
the following script raises errors
[code]
because of the way `$Script:Logging` -and `$Script:LevelNames` are tested in `Set-LoggingVariables.ps1`

[2021-03-15 10:32] EsOsO commented on #111
Seems fine to me. @tosoikea would you take care of implementing?

[2021-03-15 10:34] EsOsO commented on #98
Please go on, I didn't write anything yet.

[2021-03-15 19:44] tosoikea commented on #64
### GetConsumingEnumerable
The count does not drop to zero just by calling 'GetConsumingEnumerable()'.
This can be shown by the following code snippet.
[code]
### Wait-Logging
The last part is about messages being lost, the only portion that should (now) be able to be lost is the last message with Wait-Logging. This could be "fixable" by simply adding another Wait-Sleep after the loop.

(I used my

[2021-03-15 19:44] tosoikea commented on #64
@EsOsO I think this issue can now be closed.

[2021-03-16 13:13] #23 closed

[2021-03-16 13:15] EsOsO commented on #50
Sorry, I completly missed your messages.

Love the implementation, you can merge with upstream.

Thank you

[2021-03-16 13:16] #64 closed

[2021-03-29 17:57] kilale opened #118 "MS Teams Target: Proxy Support"
Hi,
is there a chance to get support for a proxy setting within the MS Teams target?
Maybe this is also relevant for other target plugins.
We could add this as a setting for the $Configuration variable.
Optional parameter, if not set, it is not used.

Thanks for the support so far!

[2021-07-12 10:14] gahujipo commented on #98
Hey @tosoikea,
have you been able to implement this?

[2021-11-26 10:26] alexR148 opened #120 "Get-LoggingMessageCount.ps1 missing"
File / Function is missing, but still described in documentation.

[2022-04-07 18:14] krocd opened #124 "Wait-Logging Hanging Scheduled Task"
I'm trying to debug why a Windows Scheduled Task is hanging at Wait-Logging, even though all other operations have completed and I see all of the expected log entries flushed to the log file.

The logging target is a file.

The design is:

- Custom PS script module containing wrapper functions for Add-LoggingTarget, Write-Log, and Wait-Logging.  These wrappers are used to set/force certain default

[2022-04-08 18:05] krocd commented on #124
I was wrong, it's not Wait-Logging that is blocking the process exit.  It's something else.

I was able to reproduce it outside of Task Scheduler by simply executing the same script at the command line (recall that the script imports a custom module, that imports the Logging module and wraps its functions):

`%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe -ExecutionPolicy Bypass -NonI

[2022-04-08 18:56] krocd commented on #124
The issue seems to be in the OnRemoval event handler.  For some reason, the call to `Get-Module Logging` is returning null, which causes the `if ($Module) {` condition to evaluate to false, and Stop-LoggingManager never gets called.

[2022-04-29 15:22] ecarmen16 commented on #124
I've seen similar and I chalked it up to where on the filesystem I was having the SYSTEM principal try to do Import-Module. I had different results with it in the System32\windowsPowershell\1.0\modules folder vs when used elsewhere too. Hope you figure it out!

[2022-06-07 09:28] dampfklon opened #125 "Logging target mail: send Bulk Log"
The default behavior sends one mail per Write-Log call, is the a way to send one bulk log mail per script execution?

I looked into the the docs but did not find the option.

This would be super helpful as we have scripts which currently generate a lot of mails.

[2022-08-18 07:56] heinrich-ulbricht opened #126 "Add support for PS transcript (Start-Transcript)"
We are using both the `Logging` module and `Start-Transcript`. The former to get a nicely formatted, human-readable log output. The latter to catch anything in case the former is not enough.

Unfortunately logs written via Write-Log are missing from the transcript. I suppose the transcript needs the log written via `Write-Host`? Not sure about that. But it would be great to have this solved by eit